@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --Soft-violet-b: hsla(277, 70%, 39%, 0.51);
  --White: hsl(0, 0%, 100%);
  --Slightly: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent: hsla(0, 0%, 100%, 0.6);
}
html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-dark-blue);
  color:var(--White);
  font-family: 'Inter', sans-serif;
  margin-block: 150px;
}
.card{
  background-color: var(--Dark-desaturated-blue);
  text-align: center;
  /* border: 2px solid red; */
  max-inline-size: 340px;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card__logo{
  width: 100%;
  position: relative;
}
.card__logo img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card__logo::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Soft-violet-b);
}
.card__content{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.container{
  padding-inline: 3em;
  padding-block: 3.5rem;
}
.card__title{
  font-size: 3rem;
}
.card__title span{
  color: var(--Soft-violet);
}
.card__paragraph{
  color: var(--Slightly-transparent);
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  padding-top: 1.5rem;
}
.column p{
  font-weight: 700;
}
.column p span{
  color: var(--Slightly-transparent);
  display: block;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: 0.6rem;
  font-family: 'Lexend Deca', sans-serif;
}
.attribution{
  display: none;
}
@media screen and (min-width:1024px){
  body{
    margin: 0;
    flex-direction: column;
  }
  .card{
    max-width: 900px;
    border-radius: 1rem;
    text-align: left;
    display: grid;
    grid-column-gap: 6rem;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-areas: 
        "contenido  logo"
        "contenido  logo";
  }
  .card__logo{
    grid-area: logo;
  }
  .card__title{
    font-size: 3rem;
  }
  .card__content{
    grid: contenido;
  }
  .container{
    padding-block: 5rem;
    padding-inline: 5rem;
  }
  .card__paragraph{
    font-size: 1.29rem;
  }
  .column{
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3.5rem;
    margin-inline-end: 2.5rem;
  }
  .attribution{
    display: inline-block;
  }
  
}
